@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Poppins";
}

@layer utilities {
	.scrollbar::-webkit-scrollbar {
		@apply w-2 h-5;
	}

	.scrollbar::-webkit-scrollbar-track {
		@apply rounded-full bg-[#444];
	}

	.scrollbar::-webkit-scrollbar-thumb {
		@apply bg-cold-purple-500 rounded-full;
	}

	.scrollbar::-webkit-scrollbar-thumb:hover {
		@apply bg-cold-purple-400;
	}

	.diag-top {
		clip-path: polygon(0 0, 0% 100%, 100% 0);
	}

	.diag-bottom {
		clip-path: polygon(100% 100%, 0 100%, 100% 0);
	}
}
