@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #ffffff;
		--foreground: #0a090b;
		--card: #ffffff;
		--card-foreground: #0a090b;
		--popover: #ffffff;
		--popover-foreground: #0a090b;
		--primary: #bea7e5;
		--primary-foreground: #f5f0ff;
		--secondary: #f5f4f5;
		--secondary-foreground: #19181b;
		--muted: #f5f4f5;
		--muted-foreground: #74717a;
		--accent: #f5f4f5;
		--accent-foreground: #19181b;
		--destructive: #ef4444;
		--destructive-foreground: #fafafa;
		--border: #e5e4e7;
		--input: #e5e4e7;
		--ring: #bea7e5;
		--radius: 0.75rem;
	}

	.dark {
		--background: #302a39;
		--foreground: #faf9fa;
		--card: #0a090c;
		--card-foreground: #faf9fa;
		--popover: #0a090c;
		--popover-foreground: #fafaf9;
		--primary: #bea7e5;
		--primary-foreground: #faf9fa;
		--secondary: #262429;
		--secondary-foreground: #faf9fa;
		--muted: #262429;
		--muted-foreground: #a29fa8;
		--accent: #262429;
		--accent-foreground: #faf9fa;
		--destructive: #dc2626;
		--destructive-foreground: #faf9fa;
		--border: #292426;
		--input: #292524;
		--ring: #bea7e5;
	}
}

@layer base {
	* {
		@apply border-border;

		font-family: "Poppins";
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer utilities {
	.scrollbar::-webkit-scrollbar {
		@apply w-2 h-5;
	}

	.scrollbar::-webkit-scrollbar-track {
		@apply rounded-full bg-[#444];
	}

	.scrollbar::-webkit-scrollbar-thumb {
		@apply bg-cold-purple-500 rounded-full;
	}

	.scrollbar::-webkit-scrollbar-thumb:hover {
		@apply bg-cold-purple-400;
	}

	.diag-top {
		clip-path: polygon(0 0, 0% 100%, 100% 0);
	}

	.diag-bottom {
		clip-path: polygon(100% 100%, 0 100%, 100% 0);
	}
}
